<!-- AQUI SE COLOCA LA PLANTILLA -->
{%extends 'layout.html'%}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <!-- COLOCA LOS MENSAJES QUE SE ENVIEN A PARTIR DEL ENDPOINT -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }} <a href="/tabla-pagos">ver</a>
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"></button>
            
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card card-body">
            <!-- COLOCA LOS CAMPOS NECESARIOS PARA QUE EL USUARIO LLENE LOS REGISTROS el atributo name sirve para obtener el valor desde el endpoint -->
            <h3 class="card-title">Registrar pago</h3>
            <form action="/add_pago" method="POST">
                <div class="form-group"><input type="text" class="form-control" name="matricula" placeholder="matricula" required>
                </div>
                <label for="fecha_pago">Ingrese la fecha del pago:</label>
                <div class="form-group"><input type="date" class="form-control" name="fecha_pago"
                        placeholder="fecha del pago" required>
                </div>
                <div class="form-group"><input type="number" class="form-control" name="monto"
                        step="0.01" min="0" placeholder="$ monto"required></div>
                <div class="form-group"><input type="text" class="form-control" name="metodo_pago"
                        placeholder="Método de pago"required></div>
                <div class="form-group"><input type="text" class="form-control" name="estado_pago"
                        placeholder="estado del pago" required></div>
                <div class="form-group"><input type="text" class="form-control" name="concepto_pago"
                        placeholder="concepto" required></div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}