{% extends "layout-tablas.html" %}
{% block content %}
<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>Matricula</th>
            <th>Fecha de pago</th>
            <th>Monto</th>
            <th>Estado del pago</th>
            <th>Método de pago</th>
            <th>Concepto de pago</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            ajax: '/api/data/pagos',
            columns: [
                { data: 'matricula' },
                { data: 'fecha_pago', searchable: true },
                { data: 'monto', orderable: false, searchable: false },
                { data: 'estado_pago', orderable: false, searchable: false },
                { data: 'metodo_pago', orderable: false, searchable: false },
                { data: 'concepto_pago', orderable: false, searchable: false },
                {
                    data: null,
                    orderable: false,
                    searchable: false,
                    render: function (data, type, row) {
                        return `
                        <a href="/editar-pago/${row.pago_id}" class="btn btn-secondary btn-sm">Editar</a>
                        <a href="#" class="btn btn-danger btn-sm btn-delete" data-id="${row.pago_id}">Borrar</a>
                        `;
                    }
                }
            ],
            drawCallback: function () {
                $('#data tbody').on('click', '.btn-delete', function (event) {
                    event.preventDefault(); // Prevenir la redirección del enlace
                    const id = $(this).data('id'); // Obtener el ID del pago

                    if (id) {
                        Swal.fire({
                            title: '¿Estás seguro?',
                            text: "No podrás revertir esta acción!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Sí, eliminar',
                            cancelButtonText: 'No, cancelar'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Enviar la solicitud de eliminación al servidor
                                $.ajax({
                                    url: `/borrar-pago/${id}`,
                                    type: 'DELETE',
                                    success: function (response) {
                                        Swal.fire(
                                            'Eliminado!',
                                            'El elemento ha sido eliminado.',
                                            'success'
                                        );
                                        // Recargar la tabla después de la eliminación
                                        $('#data').DataTable().ajax.reload();
                                    },
                                    error: function (xhr, status, error) {
                                        Swal.fire(
                                            'Error',
                                            'No se pudo eliminar el elemento.',
                                            'error'
                                        );
                                    }
                                });
                            } else if (result.dismiss === Swal.DismissReason.cancel) {
                                Swal.fire(
                                    'Cancelado',
                                    'La acción fue cancelada',
                                    'error'
                                );
                            }
                        });
                    } else {
                        Swal.fire(
                            'Error',
                            'ID de pago no encontrado.',
                            'error'
                        );
                    }
                });
            }
        });
    });
</script>
{% endblock %}
